footer .fa {
    padding: 20px;
    font-size: 30px;
    width: 65px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }
  footer ul li{
    display: inline;
    margin-right: 7px;
  }
  .boton {
    background-color: #00b0ca;
  }
  .noti {
    background-color: #DDD;
  }
  .like:link {
    text-decoration: none;
  }



.mes th,
.mes td,
.mes caption {
  font: normal 23px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 6px 4px;
}

.mes .fa{
  margin: 0 25px;
}

.tabla_mes {
  border-spacing: 3px;
  empty-cells: hide;
}

.mes td {
  text-align: center;
  cursor: pointer;
}

.mes th {
  color: #999;
}

.mes caption.titulo {
  text-align: left;
  font-size: 30px;
  caption-side: top;
  color: #17a2b8;
  font-weight: bold; 
  text-align: center;
}